In [6]:
# Data Wrangling & Other General Use
import pandas as pd

# For handling files
import os
from os.path import isfile, join, splitext

In [7]:
working_path = os.getcwd()

# Listing all csv files
csv_files = [file for file in os.listdir(working_path) \
             if isfile(join(working_path, file)) \
             and splitext(join(working_path, file))[1] == '.csv']

csv_temp_files = [file for file in csv_files if file.startswith('Run')]

raw_append = pd.DataFrame()
print('Files in Directory:')
for csv in csv_temp_files:
    print('  * ' + csv)
    df = pd.read_csv(csv) 
    raw_append = raw_append.append(df)
    
full_df = raw_append.drop_duplicates(subset = ['Company', 'Location', 'Position', 'PostingDate', 'FullDetailsURL'],
                                     keep = 'last')  # Run3 is read last, and we want Run3 records to be master records, only appending others from Run1 and Run2 if they are different

full_df

Files in Directory:
  * Run1.csv
  * Run2.csv
  * Run3.csv
  * Run4.csv

,ResultsVersion,ResultsDate,Company,Location,Position,PostingDate,FullDetailsURL,AllQualifications,Applicants,Employment type,Industries,Job function,Seniority level
0,1,10/08/2021 15h,McKinsey & Company,"Lisbon, Lisbon, Portugal",Data Scientist,2021-08-08,https://linkedin.com/jobs/view/data-scientist-...,['Master’s degree in a quantitative field like...,47 applicants,Full-time,"Automotive, Aviation & Aerospace, and Manageme...","Consulting, Information Technology, and Marketing",Associate
5,1,10/08/2021 15h,Tripadvisor,"Lisboa, Lisbon, Portugal",Data Scientist,2021-08-06,https://linkedin.com/jobs/view/data-scientist-...,[],Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...",Engineering and Information Technology,Entry level
9,1,10/08/2021 15h,Amgen,"Lisbon, Lisbon, Portugal",Data Scientist,2021-07-14,https://linkedin.com/jobs/view/data-scientist-...,NaN,NaN,NaN,NaN,NaN,NaN
13,1,10/08/2021 15h,PandaDoc,"Lisbon, Lisbon, Portugal",Senior Data Scientist (Lisbon),2021-07-22,https://linkedin.com/jobs/view/senior-data-sci...,"['Lead, architect, and develop multiple projec...",Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...",Engineering and Information Technology,Associate
15,1,10/08/2021 15h,"VASP - Distribuidora de Publicações, S.A.","Sintra, Lisbon, Portugal",Data Scientist Junior (SQL+R),2021-07-13,https://linkedin.com/jobs/view/data-scientist-...,['Licenciado em áreas com forte componente ana...,25 applicants,Full-time,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,1,19/08/2021 19h,Nokia,"Amadora, Lisbon, Portugal",Senior Data Engineer,2021-07-21,https://linkedin.com/jobs/view/senior-data-eng...,['Help customers drive significant business ou...,Be among the first 25 applicants,Full-time,Information Technology and Services and Teleco...,Information Technology,Not Applicable
86,1,19/08/2021 19h,Passio Consulting,"Lisbon, Lisbon, Portugal",Anúncio de emprego: Machine Learning Engineer ...,2021-07-07,https://linkedin.com/jobs/view/an%C3%BAncio-de...,"[' Licenciatura em Informática, Gestão de Info...",Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...",Engineering and Information Technology,Entry level
87,1,19/08/2021 19h,ConvaTec,"Lisbon, Lisbon, Portugal",Senior Data Engineer,2021-08-11,https://linkedin.com/jobs/view/senior-data-eng...,['3+ years extensive experience of building bi...,Be among the first 25 applicants,Full-time,Medical Devices,Information Technology,Associate
88,1,19/08/2021 19h,Talkdesk,"Lisbon, Lisbon, Portugal",Senior Product Designer - AI,2021-08-19,https://linkedin.com/jobs/view/senior-product-...,['Help and collaborate on UX product vision an...,Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...","Design, Art/Creative, and Information Technology",Associate
89,1,19/08/2021 19h,Michael Page,"Lisbon, Lisbon, Portugal",Data Engineer - m/f,2021-07-05,https://linkedin.com/jobs/view/data-engineer-m...,['Our client is a leading company on its secto...,Be among the first 25 applicants,Full-time,"Events Services, Financial Services, and Facil...",Information Technology,Entry level

In [22]:
full_df['ResultsDate'].value_counts()

19/08/2021 19h    90
10/08/2021 15h    29
16/08/2021 16h    18
Name: ResultsDate, dtype: int64

In [4]:
raw_append.head()

,ResultsVersion,ResultsDate,Company,Location,Position,PostingDate,FullDetailsURL,AllQualifications,Applicants,Employment type,Industries,Job function,Seniority level
0,1,10/08/2021 14h,McKinsey & Company,"Lisbon, Lisbon, Portugal",Data Scientist,2021-08-08,https://linkedin.com/jobs/view/data-scientist-...,['Master’s degree in a quantitative field like...,47 applicants,Full-time,"Automotive, Aviation & Aerospace, and Manageme...","Consulting, Information Technology, and Marketing",Associate
1,1,10/08/2021 14h,Celfinet,"Lisbon, Portugal",Data Scientist,2021-08-09,https://linkedin.com/jobs/view/data-scientist-...,NaN,NaN,NaN,NaN,NaN,NaN
2,1,10/08/2021 14h,Siemens,"Lisbon, Lisbon, Portugal",Data Scientist (m/f/d),2021-07-08,https://linkedin.com/jobs/view/data-scientist-...,"['Work with large, complex data sets and apply...",Be among the first 25 applicants,Full-time,Electrical/Electronic Manufacturing,Information Technology,Mid-Senior level
3,1,10/08/2021 14h,Siemens,"Lisbon, Lisbon, Portugal",Junior Data Scientist (m/f/d),2021-07-01,https://linkedin.com/jobs/view/junior-data-sci...,['Build predictive and machine learning models...,29 applicants,Full-time,Electrical/Electronic Manufacturing,Information Technology,Associate
4,1,10/08/2021 14h,Tripadvisor,"Lisboa, Lisbon, Portugal",Data Scientist,2021-08-04,https://linkedin.com/jobs/view/data-scientist-...,['Owns the algorithms exposed on the website a...,30 applicants,Full-time,"Computer Software, Internet, and Leisure, Trav...",Engineering and Information Technology,Associate

In [20]:
compare_df.iloc[j, :].to_dict()

{'Company': 'Michael Page',
 'Location': 'Lisbon, Lisbon, Portugal',
 'Position': 'Data Engineer - m/f',
 'PostingDate': '2021-07-05',
 'FullDetailsURL': 'https://linkedin.com/jobs/view/data-engineer-m-f-at-michael-page-2666445544'}

In [21]:
raw_append = raw_append.reset_index(drop = True)
indexes = []

compare_df = raw_append[['Company', 'Location', 'Position', 'PostingDate', 'FullDetailsURL']]

for i in range(len(compare_df)):
    equal_rows = []
    for j in range(len(compare_df)):
        if i != j \
        and compare_df.iloc[i, :].equals(compare_df.iloc[j, :]):
            
            equal_rows.append(raw_append.iloc[j, :].to_dict())
            
equal_rows

[{'ResultsVersion': 1,
  'ResultsDate': '10/08/2021 14h',
  'Company': 'Michael Page',
  'Location': 'Lisbon, Lisbon, Portugal',
  'Position': 'Data Engineer - m/f',
  'PostingDate': '2021-07-05',
  'FullDetailsURL': 'https://linkedin.com/jobs/view/data-engineer-m-f-at-michael-page-2666445544',
  'AllQualifications': '[\'Our client is a leading company on its sector\', \'Data Engineer with AWS experience\', \'Create and maintain optimal data pipeline architecture\', \'Assemble large, complex data sets that meet functional / non-functional business requirements\', "Build the infrastructure required for optimal extraction, transformation and loading of data from a wide variety of data sources using SQL and AWS \'big data\' technologies", \'Work with stakeholders including the Executive, Product, Data and Design teams to assist with data-related technical issues and support their data infrastructure needs\', \'Create data tools for analytics and data scientist team members that assist them in building and optimizing the product into an innovative industry leader\', \'3+ years extensive experience of building big data pipelines with Apache Spark (preferably with PySpark) - real-time and batch processing\', \'3+ years of running and optimizing Spark data pipelines on either Amazon Web Services (AWS), Microsoft Azure or Google Cloud Platform (GCP)\', "3+ years\' experience of interacting with big data and cloud data stores, both SQL and NoSQL such as Hive, Presto, Big Query, AWS Athena, AWS Redshift or related big data store systems", "3+ years\' experience of python", \'Experience building large scale distributed systems or applications\', \'Strong data modeling skills (NoSQL & RDBMS)\', \'Strong experience with Unix environments\', \'Experience with streaming event systems like Kafka and Kinesis\', \'Good knowledge of Design Patterns\', \'Experience with Unix Shell scripting\', \'Experience with Docker and Kubernetes\', \'Experience with Continuous Integration, QA and Stress Testing\', \'Experience with configuration management tools like Puppet, Chef, Ansible and Saltstack\', \'Good knowledge of Agile development methodology\']',
  'Applicants': 'Be among the first 25 applicants',
  'Employment type': 'Full-time',
  'Industries': 'Events Services, Financial Services, and Facilities Services',
  'Job function': 'Information Technology',
  'Seniority level': 'Entry level'},
 {'ResultsVersion': 1,
  'ResultsDate': '10/08/2021 15h',
  'Company': 'Michael Page',
  'Location': 'Lisbon, Lisbon, Portugal',
  'Position': 'Data Engineer - m/f',
  'PostingDate': '2021-07-05',
  'FullDetailsURL': 'https://linkedin.com/jobs/view/data-engineer-m-f-at-michael-page-2666445544',
  'AllQualifications': '[\'Our client is a leading company on its sector\', \'Data Engineer with AWS experience\', \'Create and maintain optimal data pipeline architecture\', \'Assemble large, complex data sets that meet functional / non-functional business requirements\', "Build the infrastructure required for optimal extraction, transformation and loading of data from a wide variety of data sources using SQL and AWS \'big data\' technologies", \'Work with stakeholders including the Executive, Product, Data and Design teams to assist with data-related technical issues and support their data infrastructure needs\', \'Create data tools for analytics and data scientist team members that assist them in building and optimizing the product into an innovative industry leader\', \'3+ years extensive experience of building big data pipelines with Apache Spark (preferably with PySpark) - real-time and batch processing\', \'3+ years of running and optimizing Spark data pipelines on either Amazon Web Services (AWS), Microsoft Azure or Google Cloud Platform (GCP)\', "3+ years\' experience of interacting with big data and cloud data stores, both SQL and NoSQL such as Hive, Presto, Big Query, AWS Athena, AWS Redshift or related big data store systems", "3+ years\' experience of python", \'Experience building large scale distributed systems or applications\', \'Strong data modeling skills (NoSQL & RDBMS)\', \'Strong experience with Unix environments\', \'Experience with streaming event systems like Kafka and Kinesis\', \'Good knowledge of Design Patterns\', \'Experience with Unix Shell scripting\', \'Experience with Docker and Kubernetes\', \'Experience with Continuous Integration, QA and Stress Testing\', \'Experience with configuration management tools like Puppet, Chef, Ansible and Saltstack\', \'Good knowledge of Agile development methodology\']',
  'Applicants': 'Be among the first 25 applicants',
  'Employment type': 'Full-time',
  'Industries': 'Events Services, Financial Services, and Facilities Services',
  'Job function': 'Information Technology',
  'Seniority level': 'Entry level'},
 {'ResultsVersion': 1,
  'ResultsDate': '16/08/2021 16h',
  'Company': 'Michael Page',
  'Location': 'Lisbon, Lisbon, Portugal',
  'Position': 'Data Engineer - m/f',
  'PostingDate': '2021-07-05',
  'FullDetailsURL': 'https://linkedin.com/jobs/view/data-engineer-m-f-at-michael-page-2666445544',
  'AllQualifications': '[\'Our client is a leading company on its sector\', \'Data Engineer with AWS experience\', \'Create and maintain optimal data pipeline architecture\', \'Assemble large, complex data sets that meet functional / non-functional business requirements\', "Build the infrastructure required for optimal extraction, transformation and loading of data from a wide variety of data sources using SQL and AWS \'big data\' technologies", \'Work with stakeholders including the Executive, Product, Data and Design teams to assist with data-related technical issues and support their data infrastructure needs\', \'Create data tools for analytics and data scientist team members that assist them in building and optimizing the product into an innovative industry leader\', \'3+ years extensive experience of building big data pipelines with Apache Spark (preferably with PySpark) - real-time and batch processing\', \'3+ years of running and optimizing Spark data pipelines on either Amazon Web Services (AWS), Microsoft Azure or Google Cloud Platform (GCP)\', "3+ years\' experience of interacting with big data and cloud data stores, both SQL and NoSQL such as Hive, Presto, Big Query, AWS Athena, AWS Redshift or related big data store systems", "3+ years\' experience of python", \'Experience building large scale distributed systems or applications\', \'Strong data modeling skills (NoSQL & RDBMS)\', \'Strong experience with Unix environments\', \'Experience with streaming event systems like Kafka and Kinesis\', \'Good knowledge of Design Patterns\', \'Experience with Unix Shell scripting\', \'Experience with Docker and Kubernetes\', \'Experience with Continuous Integration, QA and Stress Testing\', \'Experience with configuration management tools like Puppet, Chef, Ansible and Saltstack\', \'Good knowledge of Agile development methodology\']',
  'Applicants': 'Be among the first 25 applicants',
  'Employment type': 'Full-time',
  'Industries': 'Events Services, Financial Services, and Facilities Services',
  'Job function': 'Information Technology',
  'Seniority level': 'Entry level'}]

In [27]:
test3 = pd.DataFrame(equal_rows)
test3['Applicants'].max()

'Be among the first 25 applicants'

A fazer:
* Juntar os 3 dataframes reunidos no notebook 01. DataExtraction e retirar os uniques
* Resolver o ResultsVersion no notebook 1
* Filtrar apenas os que contêm "Data Scientist" no título
* Fazer o join dos três dataframes primeiro com um ciclo for e depois fazer refactoring