In [1]:
# Data Wrangling & Other General Use
import pandas as pd

# For handling files
import os
from os.path import isfile, join, splitext

In [34]:
working_path = os.getcwd()

# Listing all csv files
csv_files = [file for file in os.listdir(working_path) \
             if isfile(join(working_path, file)) \
             and splitext(join(working_path, file))[1] == '.csv']

csv_temp_files = [file for file in csv_files if file.startswith('Run')]

raw_append = pd.DataFrame()
print('Files in Directory:')
for csv in csv_temp_files:
    print('  * ' + csv)
    df = pd.read_csv(csv) 
    raw_append = raw_append.append(df)
    
full_df = raw_append.drop_duplicates(subset = ['Company', 'Location', 'Position', 'PostingDate', 'FullDetailsURL'],
                                     keep = 'last')  # Run3 is read last, and we want Run3 records to be master records, only appending others from Run1 and Run2 if they are different

full_df

Files in Directory:
  * Run1.csv
  * Run2.csv
  * Run3.csv

,ResultsVersion,ResultsDate,Company,Location,Position,PostingDate,FullDetailsURL,AllQualifications,Applicants,Employment type,Industries,Job function,Seniority level
0,1,10/08/2021 15h,McKinsey & Company,"Lisbon, Lisbon, Portugal",Data Scientist,2021-08-08,https://linkedin.com/jobs/view/data-scientist-...,['Master’s degree in a quantitative field like...,47 applicants,Full-time,"Automotive, Aviation & Aerospace, and Manageme...","Consulting, Information Technology, and Marketing",Associate
5,1,10/08/2021 15h,Tripadvisor,"Lisboa, Lisbon, Portugal",Data Scientist,2021-08-06,https://linkedin.com/jobs/view/data-scientist-...,[],Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...",Engineering and Information Technology,Entry level
9,1,10/08/2021 15h,Amgen,"Lisbon, Lisbon, Portugal",Data Scientist,2021-07-14,https://linkedin.com/jobs/view/data-scientist-...,NaN,NaN,NaN,NaN,NaN,NaN
13,1,10/08/2021 15h,PandaDoc,"Lisbon, Lisbon, Portugal",Senior Data Scientist (Lisbon),2021-07-22,https://linkedin.com/jobs/view/senior-data-sci...,"['Lead, architect, and develop multiple projec...",Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...",Engineering and Information Technology,Associate
15,1,10/08/2021 15h,"VASP - Distribuidora de Publicações, S.A.","Sintra, Lisbon, Portugal",Data Scientist Junior (SQL+R),2021-07-13,https://linkedin.com/jobs/view/data-scientist-...,['Licenciado em áreas com forte componente ana...,25 applicants,Full-time,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,1,16/08/2021 16h,Nokia,"Amadora, Lisbon, Portugal",Procurement Intelligence SAP BW Specialist,2021-07-20,https://linkedin.com/jobs/view/procurement-int...,[' Support procurement reporting tools with fo...,Be among the first 25 applicants,Full-time,Information Technology and Services and Teleco...,Purchasing and Supply Chain,Not Applicable
88,1,16/08/2021 16h,Talkdesk,"Lisbon, Lisbon, Portugal",Senior Product Designer - AI,2021-07-28,https://linkedin.com/jobs/view/senior-product-...,['Help and collaborate on UX product vision an...,Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...","Design, Art/Creative, and Information Technology",Associate
89,1,16/08/2021 16h,Fyld,"Lisbon, Lisbon, Portugal",Anúncio de emprego: Data Science- Lisboa,2021-07-07,https://linkedin.com/jobs/view/an%C3%BAncio-de...,"[' Licenciatura em Engenharia informática, Mat...",Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...",Engineering and Information Technology,Entry level
90,1,16/08/2021 16h,Passio Consulting,"Lisbon, Lisbon, Portugal",Anúncio de emprego: Machine Learning Engineer ...,2021-07-07,https://linkedin.com/jobs/view/an%C3%BAncio-de...,"[' Licenciatura em Informática, Gestão de Info...",Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...",Engineering and Information Technology,Entry level
91,1,16/08/2021 16h,Siemens,"Lisbon, Lisbon, Portugal",Data Scientist Intern (m/f/d),2021-06-24,https://linkedin.com/jobs/view/data-scientist-...,['Search out opportunities to apply machine le...,25 applicants,Full-time,Electrical/Electronic Manufacturing,Engineering and Information Technology,Entry level

In [33]:
full_df['ResultsDate'].value_counts()

16/08/2021 16h    92
10/08/2021 15h    29
Name: ResultsDate, dtype: int64

In [36]:
raw_append

,ResultsVersion,ResultsDate,Company,Location,Position,PostingDate,FullDetailsURL,AllQualifications,Applicants,Employment type,Industries,Job function,Seniority level
0,1,10/08/2021 14h,McKinsey & Company,"Lisbon, Lisbon, Portugal",Data Scientist,2021-08-08,https://linkedin.com/jobs/view/data-scientist-...,['Master’s degree in a quantitative field like...,47 applicants,Full-time,"Automotive, Aviation & Aerospace, and Manageme...","Consulting, Information Technology, and Marketing",Associate
1,1,10/08/2021 14h,Celfinet,"Lisbon, Portugal",Data Scientist,2021-08-09,https://linkedin.com/jobs/view/data-scientist-...,NaN,NaN,NaN,NaN,NaN,NaN
2,1,10/08/2021 14h,Siemens,"Lisbon, Lisbon, Portugal",Data Scientist (m/f/d),2021-07-08,https://linkedin.com/jobs/view/data-scientist-...,"['Work with large, complex data sets and apply...",Be among the first 25 applicants,Full-time,Electrical/Electronic Manufacturing,Information Technology,Mid-Senior level
3,1,10/08/2021 14h,Siemens,"Lisbon, Lisbon, Portugal",Junior Data Scientist (m/f/d),2021-07-01,https://linkedin.com/jobs/view/junior-data-sci...,['Build predictive and machine learning models...,29 applicants,Full-time,Electrical/Electronic Manufacturing,Information Technology,Associate
4,1,10/08/2021 14h,Tripadvisor,"Lisboa, Lisbon, Portugal",Data Scientist,2021-08-04,https://linkedin.com/jobs/view/data-scientist-...,['Owns the algorithms exposed on the website a...,30 applicants,Full-time,"Computer Software, Internet, and Leisure, Trav...",Engineering and Information Technology,Associate
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,1,16/08/2021 16h,Nokia,"Amadora, Lisbon, Portugal",Procurement Intelligence SAP BW Specialist,2021-07-20,https://linkedin.com/jobs/view/procurement-int...,[' Support procurement reporting tools with fo...,Be among the first 25 applicants,Full-time,Information Technology and Services and Teleco...,Purchasing and Supply Chain,Not Applicable
88,1,16/08/2021 16h,Talkdesk,"Lisbon, Lisbon, Portugal",Senior Product Designer - AI,2021-07-28,https://linkedin.com/jobs/view/senior-product-...,['Help and collaborate on UX product vision an...,Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...","Design, Art/Creative, and Information Technology",Associate
89,1,16/08/2021 16h,Fyld,"Lisbon, Lisbon, Portugal",Anúncio de emprego: Data Science- Lisboa,2021-07-07,https://linkedin.com/jobs/view/an%C3%BAncio-de...,"[' Licenciatura em Engenharia informática, Mat...",Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...",Engineering and Information Technology,Entry level
90,1,16/08/2021 16h,Passio Consulting,"Lisbon, Lisbon, Portugal",Anúncio de emprego: Machine Learning Engineer ...,2021-07-07,https://linkedin.com/jobs/view/an%C3%BAncio-de...,"[' Licenciatura em Informática, Gestão de Info...",Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...",Engineering and Information Technology,Entry level
91,1,16/08/2021 16h,Siemens,"Lisbon, Lisbon, Portugal",Data Scientist Intern (m/f/d),2021-06-24,https://linkedin.com/jobs/view/data-scientist-...,['Search out opportunities to apply machine le...,25 applicants,Full-time,Electrical/Electronic Manufacturing,Engineering and Information Technology,Entry level

In [41]:
raw_append = raw_append.reset_index(drop = True)
indexes = []

for i in range(len(raw_append)):
    for j in range(len(raw_append)):
        if i != j \
        and raw_append['Company'][i] == raw_append['Company'][j] \
        and raw_append['Location'][i] == raw_append['Location'][j] \
        and raw_append['Position'][i] == raw_append['Position'][j] \
        and raw_append['PostingDate'][i] == raw_append['PostingDate'][j] \
        and raw_append['FullDetailsURL'][i] == raw_append['FullDetailsURL'][j]:
            indexes.append(j)
            
            print(i, '|', raw_append['Position'][i], '|', raw_append['Company'][i], '|', raw_append['Applicants'][i])
            print(j, '|', raw_append['Position'][j], '|', raw_append['Company'][j], '|', raw_append['Applicants'][j])
            
indexes

0 | Data Scientist | McKinsey & Company | 47 applicants
97 | Data Scientist | McKinsey & Company | 47 applicants
1 | Data Scientist | Celfinet | nan
98 | Data Scientist | Celfinet | nan
1 | Data Scientist | Celfinet | nan
197 | Data Scientist | Celfinet | 38 applicants
2 | Data Scientist (m/f/d) | Siemens | Be among the first 25 applicants
99 | Data Scientist (m/f/d) | Siemens | Be among the first 25 applicants
2 | Data Scientist (m/f/d) | Siemens | Be among the first 25 applicants
195 | Data Scientist (m/f/d) | Siemens | Be among the first 25 applicants
3 | Junior Data Scientist (m/f/d) | Siemens | 29 applicants
100 | Junior Data Scientist (m/f/d) | Siemens | nan
3 | Junior Data Scientist (m/f/d) | Siemens | 29 applicants
201 | Junior Data Scientist (m/f/d) | Siemens | 28 applicants
4 | Data Scientist | Tripadvisor | 30 applicants
101 | Data Scientist | Tripadvisor | nan
4 | Data Scientist | Tripadvisor | 30 applicants
198 | Data Scientist | Tripadvisor | 27 applicants
5 | Data Scientist | Tripadvisor | Be among the first 25 applicants
102 | Data Scientist | Tripadvisor | Be among the first 25 applicants
6 | Product Data Scientist | CASAFARI | 69 applicants
103 | Product Data Scientist | CASAFARI | 69 applicants
6 | Product Data Scientist | CASAFARI | 69 applicants
205 | Product Data Scientist | CASAFARI | 75 applicants
7 | Data Scientist | SGS | Be among the first 25 applicants
104 | Data Scientist | SGS | Be among the first 25 applicants
7 | Data Scientist | SGS | Be among the first 25 applicants
210 | Data Scientist | SGS | Be among the first 25 applicants
8 | Quantitative Research - Data Scientist | BNP Paribas CIB | Be among the first 25 applicants
105 | Quantitative Research - Data Scientist | BNP Paribas CIB | Be among the first 25 applicants
8 | Quantitative Research - Data Scientist | BNP Paribas CIB | Be among the first 25 applicants
213 | Quantitative Research - Data Scientist | BNP Paribas CIB | Be among the first 25 applicants
9 | Data Scientist | Amgen | Be among the first 25 applicants
106 | Data Scientist | Amgen | nan
10 | Senior Data Scientist | Tripadvisor | Be among the first 25 applicants
107 | Senior Data Scientist | Tripadvisor | Be among the first 25 applicants
10 | Senior Data Scientist | Tripadvisor | Be among the first 25 applicants
207 | Senior Data Scientist | Tripadvisor | Be among the first 25 applicants
11 | Junior Data Scientist – Scoring Centre (M/F) | Wyser | Be among the first 25 applicants
108 | Junior Data Scientist – Scoring Centre (M/F) | Wyser | Be among the first 25 applicants
11 | Junior Data Scientist – Scoring Centre (M/F) | Wyser | Be among the first 25 applicants
224 | Junior Data Scientist – Scoring Centre (M/F) | Wyser | Be among the first 25 applicants
12 | Data Scientist | everis | Be among the first 25 applicants
109 | Data Scientist | everis | Be among the first 25 applicants
12 | Data Scientist | everis | Be among the first 25 applicants
204 | Data Scientist | everis | Be among the first 25 applicants
13 | Senior Data Scientist (Lisbon) | PandaDoc | Be among the first 25 applicants
110 | Senior Data Scientist (Lisbon) | PandaDoc | Be among the first 25 applicants
14 | Data Scientist - Lisboa ou Porto | NOS SGPS | Be among the first 25 applicants
111 | Data Scientist - Lisboa ou Porto | NOS SGPS | Be among the first 25 applicants
14 | Data Scientist - Lisboa ou Porto | NOS SGPS | Be among the first 25 applicants
234 | Data Scientist - Lisboa ou Porto | NOS SGPS | Be among the first 25 applicants
15 | Data Scientist Junior (SQL+R) | VASP - Distribuidora de Publicações, S.A. | 25 applicants
112 | Data Scientist Junior (SQL+R) | VASP - Distribuidora de Publicações, S.A. | 25 applicants
16 | Data Manager/Data Scientist (M/F) | JLL | Be among the first 25 applicants
113 | Data Manager/Data Scientist (M/F) | JLL | Be among the first 25 applicants
16 | Data Manager/Data Scientist (M/F) | JLL | Be among the first 25 applicants
219 | Data Manager/Data Scientist (M/F) | JLL | Be among the first 25 applicants
17 | Data Scientist | Feedzai | Be among the first 25 applicants
115 | Data Scientist | Feedzai | nan
17 | Data Scientist | Feedzai | Be among the first 25 applicants
221 | Data Scientist | Feedzai | Be among the first 25 applicants
18 | Data Scientist | BOLD by Devoteam | Over 200 applicants
114 | Data Scientist | BOLD by Devoteam | Over 200 applicants
18 | Data Scientist | BOLD by Devoteam | Over 200 applicants
220 | Data Scientist | BOLD by Devoteam | Over 200 applicants
19 | Data Scientist (M/F) - Lisbon | Capgemini Engineering | 108 applicants
116 | Data Scientist (M/F) - Lisbon | Capgemini Engineering | 108 applicants
19 | Data Scientist (M/F) - Lisbon | Capgemini Engineering | 108 applicants
231 | Data Scientist (M/F) - Lisbon | Capgemini Engineering | 113 applicants
20 | Sr. Data Scientist - Bot Management | Cloudflare | Be among the first 25 applicants
117 | Sr. Data Scientist - Bot Management | Cloudflare | Be among the first 25 applicants
21 | Senior Data Scientist – Scoring Centre (M/F) | Wyser | Be among the first 25 applicants
118 | Senior Data Scientist – Scoring Centre (M/F) | Wyser | nan
21 | Senior Data Scientist – Scoring Centre (M/F) | Wyser | Be among the first 25 applicants
233 | Senior Data Scientist – Scoring Centre (M/F) | Wyser | Be among the first 25 applicants
22 | Data Scientist – AI & ML (M/F) Lisboa | Adecco Specialized Recruitment | Be among the first 25 applicants
119 | Data Scientist – AI & ML (M/F) Lisboa | Adecco Specialized Recruitment | Be among the first 25 applicants
23 | Data Scientist Pricing | Zurich Insurance Company Ltd | Be among the first 25 applicants
120 | Data Scientist Pricing | Zurich Insurance Company Ltd | nan
23 | Data Scientist Pricing | Zurich Insurance Company Ltd | Be among the first 25 applicants
215 | Data Scientist Pricing | Zurich Insurance Company Ltd | Be among the first 25 applicants
24 | Senior Data Scientist | KDR Recruitment Ltd | Be among the first 25 applicants
121 | Senior Data Scientist | KDR Recruitment Ltd | Be among the first 25 applicants
25 | Senior Data Scientist | Faber Talent Pool | Be among the first 25 applicants
122 | Senior Data Scientist | Faber Talent Pool | nan
25 | Senior Data Scientist | Faber Talent Pool | Be among the first 25 applicants
211 | Senior Data Scientist | Faber Talent Pool | Be among the first 25 applicants
26 | Data Scientist | Solvay | nan
123 | Data Scientist | Solvay | Be among the first 25 applicants
26 | Data Scientist | Solvay | nan
214 | Data Scientist | Solvay | Be among the first 25 applicants
27 | Data Scientist (Traineeship) | Nokia | 47 applicants
124 | Data Scientist (Traineeship) | Nokia | 47 applicants
27 | Data Scientist (Traineeship) | Nokia | 47 applicants
208 | Data Scientist (Traineeship) | Nokia | 44 applicants
28 | Data scientist | BOLD by Devoteam | Be among the first 25 applicants
125 | Data scientist | BOLD by Devoteam | Be among the first 25 applicants
28 | Data scientist | BOLD by Devoteam | Be among the first 25 applicants
230 | Data scientist | BOLD by Devoteam | Be among the first 25 applicants
29 | Data Scientist | BOLD by Devoteam | 36 applicants
126 | Data Scientist | BOLD by Devoteam | nan
30 | Data Scientist (B) [604] | Axians | Be among the first 25 applicants
127 | Data Scientist (B) [604] | Axians | nan
30 | Data Scientist (B) [604] | Axians | Be among the first 25 applicants
242 | Data Scientist (B) [604] | Axians | Be among the first 25 applicants
31 | Data Scientist - m/f | Michael Page | Be among the first 25 applicants
128 | Data Scientist - m/f | Michael Page | Be among the first 25 applicants
31 | Data Scientist - m/f | Michael Page | Be among the first 25 applicants
238 | Data Scientist - m/f | Michael Page | Be among the first 25 applicants
32 | Data Scientist (A) [621] | Axians | Be among the first 25 applicants
129 | Data Scientist (A) [621] | Axians | Be among the first 25 applicants
32 | Data Scientist (A) [621] | Axians | Be among the first 25 applicants
239 | Data Scientist (A) [621] | Axians | Be among the first 25 applicants
33 | Data Scientist | BOLD by Devoteam | 123 applicants
130 | Data Scientist | BOLD by Devoteam | 123 applicants
34 | Data Scientist (m/f) | Findmore | Be among the first 25 applicants
131 | Data Scientist (m/f) | Findmore | Be among the first 25 applicants
35 | Data Scientist | BOLD by Devoteam | Over 200 applicants
132 | Data Scientist | BOLD by Devoteam | Over 200 applicants
35 | Data Scientist | BOLD by Devoteam | Over 200 applicants
228 | Data Scientist | BOLD by Devoteam | Over 200 applicants
36 | Senior Data Scientist / Engineer - Stress Testing and Data Analytics | BNP Paribas CIB | Be among the first 25 applicants
133 | Senior Data Scientist / Engineer - Stress Testing and Data Analytics | BNP Paribas CIB | Be among the first 25 applicants
36 | Senior Data Scientist / Engineer - Stress Testing and Data Analytics | BNP Paribas CIB | Be among the first 25 applicants
241 | Senior Data Scientist / Engineer - Stress Testing and Data Analytics | BNP Paribas CIB | Be among the first 25 applicants
37 | Data Scientist [A] (356) | Axians Portugal | Be among the first 25 applicants
134 | Data Scientist [A] (356) | Axians Portugal | Be among the first 25 applicants
38 | Data Scientist | Findmore | Be among the first 25 applicants
135 | Data Scientist | Findmore | Be among the first 25 applicants
39 | Senior Data Scientist (all genders) | 4TE | Be among the first 25 applicants
136 | Senior Data Scientist (all genders) | 4TE | Be among the first 25 applicants
40 | Data Manager/Data Scientist (M/F) | JLL | Be among the first 25 applicants
137 | Data Manager/Data Scientist (M/F) | JLL | Be among the first 25 applicants
41 | Senior Data Scientist Consultant & Data Lover | Keyrus | Be among the first 25 applicants
138 | Senior Data Scientist Consultant & Data Lover | Keyrus | Be among the first 25 applicants
41 | Senior Data Scientist Consultant & Data Lover | Keyrus | Be among the first 25 applicants
237 | Senior Data Scientist Consultant & Data Lover | Keyrus | Be among the first 25 applicants
42 | Data Scientist - Customer Analytics | Networkers - Technology Recruitment | Be among the first 25 applicants
139 | Data Scientist - Customer Analytics | Networkers - Technology Recruitment | Be among the first 25 applicants
43 | Data Scientist (m/f) | Bee Engineering ICT | Be among the first 25 applicants
140 | Data Scientist (m/f) | Bee Engineering ICT | Be among the first 25 applicants
43 | Data Scientist (m/f) | Bee Engineering ICT | Be among the first 25 applicants
246 | Data Scientist (m/f) | Bee Engineering ICT | Be among the first 25 applicants
44 | Data Scientist (Nearshore Project in Lisbon) | BOLD by Devoteam | 179 applicants
141 | Data Scientist (Nearshore Project in Lisbon) | BOLD by Devoteam | 179 applicants
44 | Data Scientist (Nearshore Project in Lisbon) | BOLD by Devoteam | 179 applicants
254 | Data Scientist (Nearshore Project in Lisbon) | BOLD by Devoteam | 174 applicants
45 | Data Scientist (A) [621] | Axians Portugal | Be among the first 25 applicants
142 | Data Scientist (A) [621] | Axians Portugal | Be among the first 25 applicants
45 | Data Scientist (A) [621] | Axians Portugal | Be among the first 25 applicants
244 | Data Scientist (A) [621] | Axians Portugal | Be among the first 25 applicants
46 | Data Scientist (m/f) | Mind Source | Be among the first 25 applicants
143 | Data Scientist (m/f) | Mind Source | nan
47 | Data Scientist (m/f) | Noesis | Be among the first 25 applicants
144 | Data Scientist (m/f) | Noesis | nan
47 | Data Scientist (m/f) | Noesis | Be among the first 25 applicants
245 | Data Scientist (m/f) | Noesis | Be among the first 25 applicants
48 | Senior Data Scientist (m/f) | Findmore | Be among the first 25 applicants
145 | Senior Data Scientist (m/f) | Findmore | nan
49 | Data Scientist | Axians Portugal | Be among the first 25 applicants
146 | Data Scientist | Axians Portugal | nan
49 | Data Scientist | Axians Portugal | Be among the first 25 applicants
240 | Data Scientist | Axians Portugal | Be among the first 25 applicants
50 | Data Scientist (B) [604] | Axians Portugal | Be among the first 25 applicants
147 | Data Scientist (B) [604] | Axians Portugal | Be among the first 25 applicants
50 | Data Scientist (B) [604] | Axians Portugal | Be among the first 25 applicants
243 | Data Scientist (B) [604] | Axians Portugal | Be among the first 25 applicants
51 | Consultant, Analytics, Data and Services | Mastercard | Be among the first 25 applicants
148 | Consultant, Analytics, Data and Services | Mastercard | Be among the first 25 applicants
52 | Data Scientist | BOLD by Devoteam | 193 applicants
149 | Data Scientist | BOLD by Devoteam | 193 applicants
52 | Data Scientist | BOLD by Devoteam | 193 applicants
223 | Data Scientist | BOLD by Devoteam | 187 applicants
53 | SMART DATA SCIENTIST | Lisboa | Smart Consulting | Be among the first 25 applicants
150 | SMART DATA SCIENTIST | Lisboa | Smart Consulting | Be among the first 25 applicants
54 | Data Scientist em NLP | INOV ? Instituto de Engenharia de Sistemas e Computadores Inovação | Be among the first 25 applicants
151 | Data Scientist em NLP | INOV ? Instituto de Engenharia de Sistemas e Computadores Inovação | Be among the first 25 applicants
54 | Data Scientist em NLP | INOV ? Instituto de Engenharia de Sistemas e Computadores Inovação | Be among the first 25 applicants
256 | Data Scientist em NLP | INOV ? Instituto de Engenharia de Sistemas e Computadores Inovação | Be among the first 25 applicants
55 | Data Scientist (B) [604] | Axianspt | Be among the first 25 applicants
152 | Data Scientist (B) [604] | Axianspt | nan
55 | Data Scientist (B) [604] | Axianspt | Be among the first 25 applicants
249 | Data Scientist (B) [604] | Axianspt | Be among the first 25 applicants
56 | Data Scientist (m/f) | IT People Innovation | Be among the first 25 applicants
153 | Data Scientist (m/f) | IT People Innovation | Be among the first 25 applicants
57 | Data Scientist - Machine Learning & NLP | INOV ? Instituto de Engenharia de Sistemas e Computadores Inovação | Be among the first 25 applicants
154 | Data Scientist - Machine Learning & NLP | INOV ? Instituto de Engenharia de Sistemas e Computadores Inovação | Be among the first 25 applicants
57 | Data Scientist - Machine Learning & NLP | INOV ? Instituto de Engenharia de Sistemas e Computadores Inovação | Be among the first 25 applicants
255 | Data Scientist - Machine Learning & NLP | INOV ? Instituto de Engenharia de Sistemas e Computadores Inovação | Be among the first 25 applicants
58 | Senior Data Scientist (M/F) | Timing Recursos Humanos | Be among the first 25 applicants
155 | Senior Data Scientist (M/F) | Timing Recursos Humanos | Be among the first 25 applicants
58 | Senior Data Scientist (M/F) | Timing Recursos Humanos | Be among the first 25 applicants
262 | Senior Data Scientist (M/F) | Timing Recursos Humanos | Be among the first 25 applicants
59 | Data Scientist (A) [621] | Axianspt | Be among the first 25 applicants
156 | Data Scientist (A) [621] | Axianspt | Be among the first 25 applicants
59 | Data Scientist (A) [621] | Axianspt | Be among the first 25 applicants
248 | Data Scientist (A) [621] | Axianspt | Be among the first 25 applicants
60 | Senior Data Scientist | Findmore | Be among the first 25 applicants
157 | Senior Data Scientist | Findmore | Be among the first 25 applicants
61 | Data Scientist (m/f) ? Lisboa | Ankix | Be among the first 25 applicants
158 | Data Scientist (m/f) ? Lisboa | Ankix | Be among the first 25 applicants
61 | Data Scientist (m/f) ? Lisboa | Ankix | Be among the first 25 applicants
251 | Data Scientist (m/f) ? Lisboa | Ankix | Be among the first 25 applicants
62 | Machine Learning Specialist | Experis | Be among the first 25 applicants
159 | Machine Learning Specialist | Experis | Be among the first 25 applicants
62 | Machine Learning Specialist | Experis | Be among the first 25 applicants
226 | Machine Learning Specialist | Experis | Be among the first 25 applicants
63 | Lead Consultant, Analytics, Data and Services | Mastercard | Be among the first 25 applicants
160 | Lead Consultant, Analytics, Data and Services | Mastercard | Be among the first 25 applicants
64 | Anúncio de emprego: Data Scientist (M/F) | askblue | Be among the first 25 applicants
161 | Anúncio de emprego: Data Scientist (M/F) | askblue | Be among the first 25 applicants
64 | Anúncio de emprego: Data Scientist (M/F) | askblue | Be among the first 25 applicants
269 | Anúncio de emprego: Data Scientist (M/F) | askblue | Be among the first 25 applicants
65 | Oferta de emprego: Data Scientist | Boost IT | Be among the first 25 applicants
162 | Oferta de emprego: Data Scientist | Boost IT | Be among the first 25 applicants
65 | Oferta de emprego: Data Scientist | Boost IT | Be among the first 25 applicants
264 | Oferta de emprego: Data Scientist | Boost IT | Be among the first 25 applicants
66 | Oferta de trabalho Data Scientist (M/F) | Habber Tec | Be among the first 25 applicants
163 | Oferta de trabalho Data Scientist (M/F) | Habber Tec | Be among the first 25 applicants
66 | Oferta de trabalho Data Scientist (M/F) | Habber Tec | Be among the first 25 applicants
265 | Oferta de trabalho Data Scientist (M/F) | Habber Tec | Be among the first 25 applicants
67 | Data Science & NLP | INOV ? Instituto de Engenharia de Sistemas e Computadores Inovação | Be among the first 25 applicants
164 | Data Science & NLP | INOV ? Instituto de Engenharia de Sistemas e Computadores Inovação | Be among the first 25 applicants
67 | Data Science & NLP | INOV ? Instituto de Engenharia de Sistemas e Computadores Inovação | Be among the first 25 applicants
266 | Data Science & NLP | INOV ? Instituto de Engenharia de Sistemas e Computadores Inovação | Be among the first 25 applicants
68 | Anúncio de emprego: Senior Data Scientist | zytics | Be among the first 25 applicants
165 | Anúncio de emprego: Senior Data Scientist | zytics | Be among the first 25 applicants
68 | Anúncio de emprego: Senior Data Scientist | zytics | Be among the first 25 applicants
272 | Anúncio de emprego: Senior Data Scientist | zytics | Be among the first 25 applicants
69 | Oferta de emprego: Data scientist for International Institution | KCS iT | Be among the first 25 applicants
166 | Oferta de emprego: Data scientist for International Institution | KCS iT | Be among the first 25 applicants
69 | Oferta de emprego: Data scientist for International Institution | KCS iT | Be among the first 25 applicants
271 | Oferta de emprego: Data scientist for International Institution | KCS iT | Be among the first 25 applicants
70 | Anúncio de emprego: Data Scientist | Boost IT | Be among the first 25 applicants
167 | Anúncio de emprego: Data Scientist | Boost IT | Be among the first 25 applicants
70 | Anúncio de emprego: Data Scientist | Boost IT | Be among the first 25 applicants
263 | Anúncio de emprego: Data Scientist | Boost IT | Be among the first 25 applicants
71 | Anúncio de emprego: Data Scientist(S) | KCS iT | Be among the first 25 applicants
168 | Anúncio de emprego: Data Scientist(S) | KCS iT | Be among the first 25 applicants
71 | Anúncio de emprego: Data Scientist(S) | KCS iT | Be among the first 25 applicants
275 | Anúncio de emprego: Data Scientist(S) | KCS iT | Be among the first 25 applicants
72 | Oferta de emprego: Data Scientist | Vantis - Tecnologias de Informação, Lda | Be among the first 25 applicants
169 | Oferta de emprego: Data Scientist | Vantis - Tecnologias de Informação, Lda | Be among the first 25 applicants
72 | Oferta de emprego: Data Scientist | Vantis - Tecnologias de Informação, Lda | Be among the first 25 applicants
279 | Oferta de emprego: Data Scientist | Vantis - Tecnologias de Informação, Lda | Be among the first 25 applicants
73 | Oferta de emprego: Consultor Data Scientist (m/f) | Match Profiler | Be among the first 25 applicants

[97,
 98,
 197,
 99,
 195,
 100,
 201,
 101,
 198,
 102,
 103,
 205,
 104,
 210,
 105,
 213,
 106,
 107,
 207,
 108,
 224,
 109,
 204,
 110,
 111,
 234,
 112,
 113,
 219,
 115,
 221,
 114,
 220,
 116,
 231,
 117,
 118,
 233,
 119,
 120,
 215,
 121,
 122,
 211,
 123,
 214,
 124,
 208,
 125,
 230,
 126,
 127,
 242,
 128,
 238,
 129,
 239,
 130,
 131,
 132,
 228,
 133,
 241,
 134,
 135,
 136,
 137,
 138,
 237,
 139,
 140,
 246,
 141,
 254,
 142,
 244,
 143,
 144,
 245,
 145,
 146,
 240,
 147,
 243,
 148,
 149,
 223,
 150,
 151,
 256,
 152,
 249,
 153,
 154,
 255,
 155,
 262,
 156,
 248,
 157,
 158,
 251,
 159,
 226,
 160,
 161,
 269,
 162,
 264,
 163,
 265,
 164,
 266,
 165,
 272,
 166,
 271,
 167,
 263,
 168,
 275,
 169,
 279,
 170,
 276,
 171,
 278,
 172,
 270,
 173,
 268,
 174,
 175,
 273,
 177,
 257,
 176,
 178,
 280,
 179,
 180,
 259,
 181,
 283,
 182,
 261,
 183,
 277,
 184,
 274,
 185,
 253,
 186,
 187,
 285,
 188,
 189,
 284,
 190,
 247,
 191,
 282,
 192,
 193,
 267,
 0,
 1,
 197,
 2,
 195,
 3,
 201,
 4,
 198,
 5,
 6,
 205,
 7,
 210,
 8,
 213,
 9,
 10,
 207,
 11,
 224,
 12,
 204,
 13,
 14,
 234,
 15,
 16,
 219,
 18,
 220,
 17,
 221,
 19,
 231,
 20,
 21,
 233,
 22,
 23,
 215,
 24,
 25,
 211,
 26,
 214,
 27,
 208,
 28,
 230,
 29,
 30,
 242,
 31,
 238,
 32,
 239,
 33,
 34,
 35,
 228,
 36,
 241,
 37,
 38,
 39,
 40,
 41,
 237,
 42,
 43,
 246,
 44,
 254,
 45,
 244,
 46,
 47,
 245,
 48,
 49,
 240,
 50,
 243,
 51,
 52,
 223,
 53,
 54,
 256,
 55,
 249,
 56,
 57,
 255,
 58,
 262,
 59,
 248,
 60,
 61,
 251,
 62,
 226,
 63,
 64,
 269,
 65,
 264,
 66,
 265,
 67,
 266,
 68,
 272,
 69,
 271,
 70,
 263,
 71,
 275,
 72,
 279,
 73,
 276,
 74,
 278,
 75,
 270,
 76,
 268,
 77,
 78,
 273,
 80,
 79,
 257,
 81,
 280,
 82,
 83,
 259,
 84,
 283,
 85,
 261,
 86,
 277,
 87,
 274,
 88,
 253,
 89,
 90,
 285,
 91,
 92,
 284,
 93,
 247,
 94,
 282,
 95,
 96,
 267,
 2,
 99,
 1,
 98,
 4,
 101,
 3,
 100,
 12,
 109,
 6,
 103,
 10,
 107,
 27,
 124,
 7,
 104,
 25,
 122,
 8,
 105,
 26,
 123,
 23,
 120,
 16,
 113,
 18,
 114,
 17,
 115,
 52,
 149,
 11,
 108,
 62,
 159,
 35,
 132,
 28,
 125,
 19,
 116,
 21,
 118,
 14,
 111,
 41,
 138,
 31,
 128,
 32,
 129,
 49,
 146,
 36,
 133,
 30,
 127,
 50,
 147,
 45,
 142,
 47,
 144,
 43,
 140,
 93,
 190,
 59,
 156,
 55,
 152,
 61,
 158,
 88,
 185,
 44,
 141,
 57,
 154,
 54,
 151,
 79,
 177,
 83,
 180,
 85,
 182,
 58,
 155,
 70,
 167,
 65,
 162,
 66,
 163,
 67,
 164,
 96,
 193,
 76,
 173,
 64,
 161,
 75,
 172,
 69,
 166,
 68,
 165,
 78,
 175,
 87,
 184,
 71,
 168,
 73,
 170,
 86,
 183,
 74,
 171,
 72,
 169,
 81,
 178,
 94,
 191,
 84,
 181,
 92,
 189,
 90,
 187]

A fazer:
* Juntar os 3 dataframes reunidos no notebook 01. DataExtraction e retirar os uniques
* Resolver o ResultsVersion no notebook 1
* Filtrar apenas os que contêm "Data Scientist" no título
* Fazer o join dos três dataframes primeiro com um ciclo for e depois fazer refactoring