In [12]:
# Data Wrangling & Other General Use
import pandas as pd
import time

# For debugging
from icecream import ic
ic.configureOutput(prefix = 'Debug | ')

start = time.time()

In [13]:
df = pd.read_csv('FullInfoDataframe.csv')
df.head()

,ResultsVersion,ResultsDate,Company,Location,Position,PostingDate,FullDetailsURL,AllQualifications,Applicants,Employment type,Industries,Job function,Seniority level
0,1,30/07/2021 14h,McKinsey & Company,"Lisbon, Lisbon, Portugal",Data Scientist,2021-07-17,https://linkedin.com/jobs/view/data-scientist-...,['Master’s degree in a quantitative field like...,41 applicants,Full-time,"Automotive, Aviation & Aerospace, and Manageme...","Consulting, Information Technology, and Marketing",Associate
1,1,30/07/2021 14h,Siemens,"Lisbon, Lisbon, Portugal",Data Scientist (m/f/d),2021-07-03,https://linkedin.com/jobs/view/data-scientist-...,"['Work with large, complex data sets and apply...",Be among the first 25 applicants,Full-time,Electrical/Electronic Manufacturing,Information Technology,Mid-Senior level
2,1,30/07/2021 14h,BOLD by Devoteam,"Lisbon, Portugal",Data Scientist,2021-07-30,https://linkedin.com/jobs/view/data-scientist-...,['Bachelor’s degree in the IT area or equivale...,29 applicants,Full-time,Information Technology and Services,Engineering and Information Technology,Entry level
3,1,30/07/2021 14h,PandaDoc,"Lisbon, Lisbon, Portugal",Senior Data Scientist (Lisbon),2021-07-22,https://linkedin.com/jobs/view/senior-data-sci...,"['Lead, architect, and develop multiple projec...",Be among the first 25 applicants,Full-time,"Information Technology and Services, Computer ...",Engineering and Information Technology,Associate
4,1,30/07/2021 14h,CASAFARI,"Lisbon, Portugal",Product Data Scientist,2021-07-16,https://linkedin.com/jobs/view/product-data-sc...,['Similarity Search: Duplicate listing detecti...,56 applicants,Full-time,NaN,NaN,NaN

### Understanding the different number of jobs between runs

In [14]:
df['ResultsDate'].unique()

array(['30/07/2021 14h', '30/07/2021 15h'], dtype=object)

In [15]:
df1 = df[df['ResultsVersion'] == 1]
df2 = df[df['ResultsVersion'] == 2]

In [16]:
[job for job in df2['FullDetailsURL'].unique() if job not in df1['FullDetailsURL'].unique()]

['https://linkedin.com/jobs/view/oferta-de-emprego-data-scientist-at-boost-it-2662534750',
 'https://linkedin.com/jobs/view/an%C3%BAncio-de-emprego-data-scientist-s-at-kcs-it-2662522609']

In [17]:
[job for job in df1['FullDetailsURL'].unique() if job not in df2['FullDetailsURL'].unique()]

[]

### Understanding why do we have errors in Qualifications for so many jobs

In [11]:
df_full = df[df['ResultsVersion'] == 2].reset_index(drop = True)
df_full['ResultsVersion'] = 1

df_full.to_csv('FullInfoDataframe.csv',
               index = False,
               encoding = 'utf-8-sig')

Tasks:
* Understand different number of jobs
* Understand why do we have errors in Qualifications for so many jobs


Three new problems in Data Extraction:
1. Browser not always opens without issues - problem may have something to do with the cookies failure